<!DOCTYPE html>
<html lang="en" ng-app="chat">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    
    
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <section class="chat-page" ng-controller="chatCtrl as chat">
        <div class="chat-window">
            <div class="chat-header">
                <div class="chat-header__author">
                    {{chat.author.displayName}}
                </div>
                <div class="chat-header__btns">
                    <button ng-if="!chat.author" class="btn btn-green" ng-click="chat.login()">Login</button>
                    <button ng-if="chat.author" class="btn btn-red" ng-click="chat.logout()">LogOut</button>
                </div>
            </div>
            <div class="chat-body">
                <ul class="messages">
                    <li class="message" ng-class="{ 'message--mine' : m.authorId == chat.author.uid }" ng-repeat="m in chat.shownMessages">
                        <img class="message__photo" ng-src="{{m.authorPhoto}}" alt="">
                        <span class="message__author">{{m.authorName}}</span>
                        <div class="message__text">
                            {{m.text}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-footer">
                <textarea enter-sender="chat.sendMessage()" rows="5" ng-model="chat.newMessage"></textarea>
                <button class="btn btn-green" ng-click="chat.sendMessage()">Send</button>
            </div>
        </div>
    </section>
    
    
    <script src="js/vendor.min.js"></script>
    
    <script src="js/main.min.js"></script>
</body>
</html>