body {
    font-family: "RalewayRegular", sans-serif;
    font-size: 16px;
    min-width: 320px;
}

.p0 {
    padding: 0;
}

/*BUTTONS*/
.my_btn {
    background-color: #e84545;
    border: none;
    text-transform: uppercase;
    color: #fff;
}
.btn_md {
    padding: 10px 30px;
}

.btn_lg {
    padding:15px 50px;
}

.call_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e84545;
    border: none;
    color: #fff;
}

/*HEADER*/
header {
    height: 680px;
    background-image: url("../img/banner.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

nav {
    height: 94px;
    line-height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 0 30px;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
}

.menu li a:hover,
.menu li a:focus{
    text-decoration: none;
    color: #e1e1e1;
}

.top_line {
    height: 1px;
    background-color: #e1e1e1;
}

.logo {
    padding-top: 35px;
}

.title_block {
    color: #fff;
    text-align: center;
    margin-top: 200px;
}

.title_block h1 {
    font-size: 50px;
    font-family: "RalewayBold", sans-serif;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.title_block p {
    font-size: 18px;
    margin-bottom: 50px;
}

/*PARAMETRS SECTION*/
.params_s {
    padding: 95px 0px;
}

.param_block {
    text-align: center;
    margin-bottom: 50px;
}

.param_block i {
    font-size: 70px;
    color: #e84545;
}

.param_block h3 {
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
}

.param_block p {
    font-size: 14px;
}

/*WORKS SECTION*/

.work_block {
    position: relative;
}

.image_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232,69,69,0.9);
    display: flex;
    opacity: 0;
}

.work_block:hover .image_wrap {
    opacity: 1;
}

.work_descr {
    color: #fff;
    text-align: center;
    margin: auto;
}

/*TEAM SECTION*/

.team_s {
    padding: 95px 0;
    color: #6c7279;
}

.team_item {
    margin-bottom: 30px;
}

.team_item h4 {
    font-family: "RalewayBold", sans-serif;
    color: #000;
}

.team_item span {
    text-transform: uppercase;
    color: #e84545;
    font-size: 14px;
}

.team_item p {
    font-size: 14px;
    padding: 10px 0;
}

.soc_btn {
    border: 1px solid #c6cacc;
    padding: 5px 10px;
    color: #c6cacc;
    margin-right: 5px;
}

.soc_btn:last-child {
    margin-right: 0;
}

/*DOWNLOAD SECTION*/

.download {
    padding: 90px 0;
}

.download_block {
    text-align: center;
}

.download_block h5 {
    font-size: 28px;
}

.download_block p {
    font-size: 14px;
    font-family:"RalewayBold", sans-serif;
    text-transform: uppercase;
}

/*FOOTER*/

.main_footer {
    padding: 70px 0;
    background-color: #3a3e64;
}

.footer_item {
    text-align: center;
    margin-bottom: 20px;
}

.footer_item h5 {
    font-size: 18px;
    font-family: "RalewayBold", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.footer_item p {
    font-size: 14px;
    color: #9092a7;
}

.soc_btn_white {
    color: #fff;
    border-color: #fff;
}

.copyright_block {
    background-color: #313454;
    padding: 20px 0;
}

.copy_text {
    color: #75767a;
    text-align: center;
    font-size: 12px;
}

.copy_text i {
    color: #e84545;
}
.copy_text span {
    color: #fff;
}

/*MODALS*/

#dlForm {
    max-width: 70%;
    margin: 0 auto;
}

#dlModal input {
    margin-bottom: 15px;
}

